@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

@layer base {
  :root {
    --color-primary: 39, 65, 86;
    --color-secondary: 29, 28, 31;
    /* secondary #1D1C1F */
    /* ... */
  }
}


@layer utilities {
  .minus-header {
    height: calc(100vh-100px);
  }
}